*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#heading{
    text-align: center;
    padding: 15px 15px;
    font-size: 48px;
    background-image: linear-gradient(to right,#2C598D ,#0C1827);;
}
#Emblem{
    background-image: url(Emblem\ of\ sri\ lanka\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
}
.NewBody{
    background-image: url(wallpaperflare.com_wallpaper\ \(21\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    width: 100%;
}
label{
    color: white;
}
.loginbox{
    width: 50%;
    margin: auto;
    align-content: center;
    position: center;
    background-color: rgba(255, 255, 255, 0.238);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 20px;
    margin-top: 5vh;
}
.heading2{
    padding-top: 30px;
    font-family: Inter;
}
@media screen and (min-width: 768px) {
    .loginbox {
      width: 600px;
    }
    #Emblem{
        width: 100px;
    }
    #heading{
        flex: 1;
    }
  }